@use '../styles/colors' as *;

.footer {
    width: 100%;
    max-width: 100%;
    box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    background-color: #fff; //$background;
    z-index: 11;
  
    max-width: 800px;
    margin: 0 auto;
}

    // a.active i,   a.active span {
    //     color: $design-color; // eller en accentfarve du bruger i designet
    // }


.footer .ul {
    width: 100%;
    max-width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   //margin: 2em 0;
   padding: 1.5em 0;
   justify-self: center;

   list-style: none;
   

    .li .a {
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        padding: 0 1em;

        font-size: 12px;
        color: $text-general;
    
        .icon {
            grid-row: 1/2;
            font-size: 1.8em;
            margin-bottom: 0.2em;
        }

    }

}

